#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  position: relative;
}

main {
  flex: 1;
  background: var(--bg);
}

.menu-sections-wrapper {
  width: 100%;
}

.menu-group {
  position: relative;
}
